* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../image/bg-top.png) no-repeat top center;

}

div#wrapper {
    margin: 0 auto;
    width: 1280px;
}

#top {
    width: 1280px;
    height: 120px;
    position: relative;
    margin-left: -10px;
}

#top img {
    position: relative;
    top: 20px;
    left: 20px;
}

#top .headtoolbar {
    width: 390px;
    margin-top: -30px;
}

ul.first > li {
    list-style: none;
    float: left;
    width: 97px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
}

.float-r {
    float: right;
}

.a_style1 {
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}

.sear_word {
    width: 260px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #888787;
    padding-left: 5px;
    border-radius: 5px;
}

.sear_button {
    width: 23px;
    height: 20px;
    background: url(../image/search_r.png);
}

.loopimg {
    float: left;
}

nav > ul > li:hover {
    background-color: #1a436f;
}

ul.first li:hover ul {
    /* display: block; */
    transform: scaleY(1);
    opacity: .9;
}

ul > li a {
    color: white;
    text-decoration: none;
    display: block;
}

ul.seconf li {
    list-style: none;
    width: 120px;
    height: 35px;
    text-align: left;
    text-indent: 1em;
    line-height: 35px;
}

ul.seconf {
    width: 220px;
    background-color: #335D8F;
    transform-origin: 0 0;
    transform: scaleY(0);
    /* 缩放：0（全部缩小） */
    transition: all .3s;
    position: relative;
    z-index: 1;
}
ul.second {
    height: 220px;
}
ul.second1 {
    height: 185px;
}

ul.second2 {
    height: 116px;
}

ul.second3 {
    height: 220px;
}

ul.second4 {
    height: 80px;
}

ul.second li > a:hover {
    color: gold;
}

#con_tittle1 {
    padding-top: 40px;
    width: 790px;
    height: 36px;
    background: #FFFFFF;
    border-bottom: #1e6e9f 2px solid;
}

#con_tittle2 {
    padding-top: 40px;
    width: 470px;
    height: 36px;
    background: #FFFFFF;
    border-bottom: #1e6e9f 2px solid;
}

#con_tittle3 {
    padding-top: 40px;
    width: 630px;
    height: 36px;
    background: #FFFFFF;
    border-bottom: #1e6e9f 2px solid;
}

#con_tittle4 {
    padding-top: 36px;
    width: 630px;
    height: 40px;
    border: 2px;
    background: #FFFFFF;
    border-bottom: #1e6e9f 2px solid;
}

#con_tittle5 {
    padding-top: 15px;
    width: 1280px;
    height: 40px;
    border: 2px;
    background: #FFFFFF;
    border-bottom: #1e6e9f 2px solid;
}

div#neirong li {
    list-style: none;
}

div#neirong {
    width: 1280px;
    height: 1500px;
}

.left2 a {
    display: block;
    float: left;
    width: 250px;
    height: 380px;
    margin: 15px 0 0 8px;
    border: rgba(167, 167, 167, 0.28) 1px solid;
    text-decoration: none;
    color: black;
}

.thistab a {
    height: 25px;
    padding-top: 6px;
    width: 190px;
    background-color: #069fffb2;
    color: #1e6e9f;
    text-align: center;
}

.thistab1 a {
    height: 25px;
    margin-left: 3px;
    padding-top: 6px;
    width: 110px;
    background-color: rgb(29, 130, 197);
    color: white;
    text-align: center;
}

.thistab1 a:hover {
    height: 25px;
    margin-left: 3px;
    padding-top: 6px;
    width: 115px;
    background-color: rgb(81, 188, 255);
    color: #1e6e9f;
    text-align: center;
}

.thistab3 a {
    height: 25px;
    padding-top: 6px;
    margin-left: 3px;
    width: 150px;
    float: left;
    background-color: #069fffb2;
    color: #1e6e9f;
    text-align: center;
}

.thistab3 a:hover {
    height: 25px;
    padding-top: 6px;
    margin-left: 3px;
    width: 155px;
    float: left;
    background-color: #1e6e9f;
    color: white;
    text-align: center;
}

.left2 a:hover {
    border: rgba(167, 167, 167, 1.00) 1px solid;
    background: rgba(211, 238, 255, 1.00);
}

.left1 a img {
    margin: 15px 0 20px 14px;
}

.left1 a h1 {
    font-size: 15px;
    width: 220px;
    margin: 0 5px;
    line-height: 20px;
    height: 40px;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

.left1 a p {
    width: 220px;
    margin: 15px 0 0 15px;
    line-height: 20px;
    height: 120px;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul {
    list-style: none;
}

#right1 {
    width: 470px;
    height: 475px;
    margin-left: 20px;

}

.new_list a {
    display: block;
    width: 440px;
    font-size: 14px;
    line-height: 31px;
    margin: 0 0 0 10px;
    white-space: nowrap;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
}

.new_list a:hover {
    color: red;
}

.left1 {
    float: left;
    margin-right: 0;
}

#tabs2 a {
    float: left;
}

#tabs2 {
    margin-left: 5px;
}

#tabs1 {
    margin-left: 10px;
}

#ceshi {
    margin-top: 15px;
    width: 630px;
    height: 300px;
}

#ceshi2 {
    margin-top: 15px;
    margin-left: 20px;
    width: 630px;
    height: 300px;
}

#category_9 a {
    display: inline-block;
    vertical-align: middle;
}

#category_9 li a span {
    color: black;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
}

#category_9 li {
    line-height: 200%;
    margin-top: 5px;
}

#category_9 img {
    margin: 5px 25px 0 0;
    vertical-align: middle;
    float: top;
}

.con_tittle .con_tittle_l {
    font-size: 18px;
    color: #1e6e9f;
    margin: 3px 0 0 15px;
}

.con_tittle .con_tittle_r {
    font-size: 14px;
    text-decoration: none;
    line-height: 35px;
    color: #1e6e9f;
    margin-right: 5px;
}

.con_tittle .con_tittle_r:hover {
    color: rgba(12, 69, 104, 1.00);
}

#ceshi3 {
    width: 1280px;
    height: 210px;
    margin-top: 15px;
}

#ceshi3 img {
    margin: 0 0 0 0;
}

#ceshi3 span {
    color: black;
}

.float-l {
    width: 1280px;
    float: left;
}
.float-li {
    width: 620px;
    float: left;
}

.float-r {
    float: right;
}

#f1 {
    width: 371px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#f2 {
    width: 576px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#f2 a {
    text-decoration: none;
    color: black;
}

#f3 {
    width: 282px;
    height: 86px;
}

#f3 a {
    text-decoration: none;
    color: black;
}

#f3 img {
    margin: 0 0 0 0;
}

.footerimg {
    background: url(../image/content-footer.png) no-repeat bottom center;
}

.footerimg {
    width: 100%; /*width:1920px;*/
    height: 466px;
    background: url(../image/content-footer.png);
    position: absolute;
    top: 1510px;
    clear: both;
    z-index: -1;
    margin: 0 auto; /*left:50%;margin-left: -950px;*/
}

.footer {
    width: 100%;
    height: 140px;
    background: url(../image/footer.png);
    float: left;
    position: absolute;
    top: 1800px;
}

.footer span {
    display: block;
    float: left;
    font-size: 14px;
    line-height: 30px;
    width: 700px;
    margin-left: 350px;
}

.blue_error {
    float: left;
    margin: -10px 0 0 -15px;
}